@model IEnumerable<TrabalhoCamadaPersistencia.Models.Precomercado>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Início</h1>

<p>
    <a type="button" class="btn btn-outline-dark" asp-action="Create">Adicionar Novo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.preco)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.animal)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.preco)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.animal)
            </td>
            <td>
                    <a type="button" class="btn btn-outline-dark" asp-action="Edit" asp-route-id="@item.id">Editar</a> |
                    <a type="button" class="btn btn-outline-dark" asp-action="Details" asp-route-id="@item.id">Detalhes</a> |
                    <a type="button" class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.id">Excluir</a>
            </td>
        </tr>
}
    </tbody>
</table>
