@model IEnumerable<TrabalhoCamadaPersistencia.Models.Racas1>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Raças Cadastradas</h1>

<p>
    <a type="button" class="btn btn-outline-dark" asp-action="Create">Adicionar</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Raca)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Raca)
            </td>
            <td>
                    <a type="button" class="btn btn-outline-dark" asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                    <a type="button" class="btn btn-outline-dark" asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                    <a type="button" class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.Id">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
